# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dtbcache.v2
*.suo
*/.vs
Closure/Closure/bin
Closure/Closure/obj
ConsoleApp/bin
ConsoleApp/obj
ConsoleApplication/ConsoleApplication2/bin
ConsoleApplication/ConsoleApplication2/obj
Delegate/Delegate/Delegate/bin
Delegate/Delegate2/Delegate/bin
Delegate/Delegate2/Delegate/obj
Delegate/Delegate/Delegate/obj
Delegate/Delegate2/.vs
Delegate/DelegateAction/.vs
Delegate/Delegate/.vs
Delegate/DelegateAction/bin
Delegate/DelegateAction/obj
Delegate/DelegateAction2/bin
Delegate/DelegateAction2/obj
Delegate/DelegateZigZag/.vs
Delegate/DelegateZigZag/bin
Delegate/DelegateZigZag/obj
Dispose/Dispose/.vs
Dispose/Dispose/Dispose/obj
Dispose/Dispose/Dispose/bin
Event/Event/bin
Event/Event/obj
Event/Event2/obj
Event/Event3/bin
Event/Event3/obj
Event/Event4/bin
Event/Event4/obj
Finalizer/Finalizer/Finalizer/bin
Finalizer/Finalizer/Finalizer/obj
Linked list/Linked list/Linked list/bin
Linked list/Linked list/Linked list/obj
Menu/Menu/bin
Menu/Menu/obj
namespace/NmSpace/bin
namespace/NmSpace/obj
NetCore/ConsoleNetCore/bin
NetCore/ConsoleNetCore/obj
Test/Test/bin
Test/Test/obj
CoConrtVar/CoConrtVar/bin/
CoConrtVar/CoConrtVar/obj/
Delegate/Lv/Lv/bin/
Delegate/Lv/Lv/obj/
Game/Game/bin/
Game/Game/obj/
Serv Game/ConsoleApplication4/bin/
Serv Game/ConsoleApplication4/obj/
Serv Game/Serv/bin/
Serv Game/Serv/obj/
Serv/Client/bin/
Serv/Client/obj/
Serv/Serv/bin/
Serv/Serv/obj/
SMSAutorzation/SMSAutorzation/obj/
Yield/Yield/.vs/
Yield/Yield/bin/
Yield/Yield/obj/
